---
layout: default
title: Blog
description: "Writing on [your topics]."
permalink: /blog/
---

<div class="page-header">
  <p class="breadcrumb"><a href="/">Your Name</a> / Blog</p>
  <h1>Blog</h1>
  <p class="subtitle">Writing on [your topics].</p>
</div>

<div class="blog-post-list">
  {% for post in site.posts %}
  <div class="blog-post-row">
    <span class="blog-post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <div>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      {% if post.excerpt %}
        <p class="blog-post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
